<div class="mobile_nav">
    <div class="nav_bar">
        <img src="assets/1.png" class="mobile_profile_image" alt="">
        <i class="pi pi-bars nav_btn"></i>
    </div>
    <div class="mobile_nav_items">
        <a href="#"><i class="pi pi-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="pi pi-cog"></i><span>Components</span></a>
        <a href="#"><i class="pi pi-table"></i><span>Tables</span></a>
        <a href="#"><i class="pi pi-list"></i><span>Forms</span></a>
        <a href="#"><i class="pi pi-info-circle"></i><span>About</span></a>
        <a href="#"><i class="pi pi-sliders-h"></i><span>Settings</span></a>
    </div>
</div>
